<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)">

  </app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change First Element</button>
      <button class="btn btn-success" (click)="onDestroyFirst()">Destroy</button>
      <app-server-element *ngFor="let element of serverElements" [element]="element" [name]="element.name">
        <p #contentParagraph>
          <strong *ngIf="element.type==='server'" style="color: red">{{ element.content }}</strong>
          <em *ngIf="element.type==='blueprint'">{{ element.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
<app-game-control (iNumberEvent)="onINumberEvent($event)"></app-game-control>
<ng-container *ngIf="oddNumber !== null">
  <app-odd *ngIf="oddNumber" [iNumber]="iNumber"></app-odd>
  <app-even *ngIf="!oddNumber" [iNumber]="iNumber"></app-even>
</ng-container>